:root {
    --font-family: "Montserrat", sans-serif;

    --color-white: #fff;
    --color-black: #000;

    --bgcolor-header: #f5f5f595;
    --bgcolor: #333;
    --bgcolor2: #292d361f;
    --bgcolor-dull: #00000014;

    --border: #d9d9d9;
    --border2: rgba(223, 227, 231, 1);
    --border3: #dfe3e7b2;
    --border4: #e9ecef;
    --border5: rgba(255, 255, 255, 0.2);
    --border-input: #79869a4d;
    --border-input2: #79869A40;

    --font-color: #292d36;
    --font-color2: #6c6f75;
    --font-color3: #79869a;
    --font-color4: #858585;

    --color-box-shadow: rgba(0, 0, 0, 0.24);
}
